<div class="jumbotron">
  <div class="media-body">
    <h3 class="media-heading text-center"><%= @user.name %>'s To-Do List</h3>
  </div>
  <div>
    <%= render partial: 'items/form', locals: { item: @item } %>
    <table class="table table-hover">
      <thead>
        <th>Item Description</th>
        <th>Days Left</th>
        <th>Completed</th>
      </thead>
      <tbody>
        <%= render partial: 'items/item', locals: { item: @item} %>
      </tbody>
    </table>
  </div>
</div>
