<div class="jumbotron text-center">
  <div class="media-body">
    <h3 class="media-heading text-center"><%= @user.name %>'s To-Do List</h3>
  </div>
  <div>
    <%= render partial: 'items/item', locals: { item: @item} %>
    <%= render partial: 'items/form', locals: { item: @item } %>
  </div>
</div>
