<div class="row">
  <div class="media-body">
    <h3 class="media-heading text-center"><%= @user.name %>'s To-Do List</h3>
  </div>
  <div class="col-md-8", style="padding-top:10px">
    <%= render partial: 'items/item', locals: { item: @item} %>
    <%= render partial: 'items/form', locals: { item: @item } %>
  </div>
</div>
