<div class="container">
  <% if current_user && current_user.items %>
    <% @user.items.each do |item| %>
      <tr>
        <td id="item_<%= item.id%>"><%= item.name.capitalize %></td>
        <td>
          <small><%= distance_of_time_in_words(Time.now, item.created_at.to_date + 7) %> remaining before deletion</small>
        </td>
        <td><%= link_to "Completed", user_item_path(@user, item), method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-ok, remote: true' %>
        </td>
      </tr>
    <% end %>
  <% end %>
</div>
